<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  {% seo %}

  {% if page.image == nil and page.background %}
    <meta property="og:image" content="{{ page.background }}" />
    <meta property="twitter:image" content="{{ page.background }}" />
  {% endif %}

  {% if page.image == nil and page.background == nil %}
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/global/imagenes-preview.png" />
    <meta property="twitter:image" content="{{ site.baseurl }}/assets/images/global/imagenes-preview.png" />
  {% endif %}
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/global/Favicon_buk_32x32.webp">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&amp;family=Source+Sans+Pro:wght@300;400;700;900&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{"/assets/pastie.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
