<aside class="tags-list">
  <h4>{{ site.tags_title }}</h4>
  <div class="list">
    {% capture site_tags %}
      {% for tag in site.tags %}
        {{ tag[1].size }}&#x1F;{{ tag | first }}
        {% unless forloop.last %}&#x1E;{% endunless %}
      {% endfor %}
    {% endcapture %}
    {% assign tags = site_tags | split: '&#x1E;' | sort | reverse %}
    {% for tag in tags | limit: 15 %}
    <a href="/tags#{{ tag | split: '&#x1F;' | last | slugify }}">
      {{ tag | split: '&#x1F;' | last | replace:'-', ' ' | capitalize }}
    </a>
    {% endfor %}
  </div>
</aside>
