---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="post-meta">
          Escrito por
          {% include author_link.html %}
          el
          {% assign month = page.date | date: "%-m" | minus: 1 %}
          {{ page.date | date: '%-d' }} de {{ site.data.months[month] }} de {{ page.date | date: '%-Y' }} 
          &middot; {% include read_time.html content=page.content %}
        </p>
        {% if page.tags.size > 0 %}
        <p class="post-meta">
          Etiquetas: 
          {% for tag in page.tags %} 
            {% capture tags_content %}
              {{ tags_content }} <a href='/tags#{{ tag }}'>{{ tag }}</a> 
            {% endcapture %}
          {% endfor %}
          {% else %}
            {% assign tags_content = '' %}
          {% endif %}
          {{ tags_content }}
        </p>
        <hr />
        {{ content }}

      </div>
    </div>
  </div>
